<!DOCTYPE html>
<html>
	<head>
		<title>Supplier Webpage</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script type="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="secret_style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
		</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
		</script>
		<!-- <SCRIPT language="javascript">
		function addRow(tableID) {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);
			var cell1 = row.insertCell(0);
			var element1 = document.createElement("select");
			element1.type = "text";
			element1.name="res"+table.rows.length.toString();
			cell1.appendChild(element1);
			var cell2 = row.insertCell(1);
			var element2 = document.createElement("input");
			element2.type = "text";
			element2.name = "res"+table.rows.length.toString();
			cell2.appendChild(element2);
			var cell3 = row.insertCell(2);
			var element3 = document.createElement("input");
			element3.type = "text";
			element3.name = "loc"+table.rows.length.toString();
			cell3.appendChild(element3);
		}
		function insRow(id)
		{
			var x=document.getElementById(id);
			// deep clone the targeted row
			var new_row = x.rows[1].cloneNode(true);
			// get the total number of rows
			var len = x.rows.length;
			// set the innerHTML of the first row
			new_row.cells[0].innerHTML = len;
			var inp0 = new_row.cells[0].getElementsByTagName('input')[0];
			inp0.id += len;
			inp0.value = '';
			// grab the input from the first cell and update its ID and value
			var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
			inp1.id += len;
			inp1.value = '';
			// grab the input from the first cell and update its ID and value
			var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
			inp2.id += len;
			inp2.value = '';
			// append the new row to the table
			x.appendChild( new_row );
		}
		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;
			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					table.deleteRow(i);
					rowCount--;
					i--;
				}
			}
			}catch(e){
				alert(e);
			}
		}
		</SCRIPT> -->
		<script>
			var maxID = 0;
			function getTemplateRow() {
				var x = document.getElementById("templateRow").cloneNode(true);
				x.id = "";
				x.style.display = "";
				x.innerHTML = x.innerHTML.replace(/{id}/, ++maxID);
				return x;
			}
			function addRow() {
				var t = document.getElementById("table1");
				var rows = t.getElementsByTagName("tr");
				var r = rows[rows.length - 2];
				r.parentNode.insertBefore(getTemplateRow(), r);
			}
			function deleteRow(row){
				var count = document.getElementById("table1").rows.length;
				if(count===3){
					return;
				}
				let rowid=row.id
				var i=row.parentNode.parentNode.rowIndex;
				document.getElementById('table1').deleteRow(i);
				var t = document.getElementById("table1");
				var rows = t.getElementsByTagName("tr");
				rows[rows.length - 2].id="templateRow";
			}
		</script>
	</head>
<body>
	<!--
		Adding a navbar
	-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
              <span class="sr-only"> Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><h2>CoDirect</h2></a>
          </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#" >About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <!-- <li><a href="#">Login</a></li> -->
          </ul>
        </div>
      </div>
    </nav>




	<div class="container" >
		<h1 class="codirectText lead";>
			<!--<span style='color: rgb(247, 135, 7)'>C</span> // Commented this out so that nav could be added
			<span style='color: rgb(247, 135, 7)'>o</span>
			<span style='color: white'>D</span>
			<span style='color: rgba(37, 171, 248, 0.815)'>i</span>
			<span style='color: white'>r</span>
			<span style='color: rgb(84, 243, 10)'>e</span>
			<span style='color: rgb(84, 243, 10)'>c</span>
			<span style='color: rgb(84, 243, 10)'>t</span>
		</h1>-->
		<!-- <button class='btn btn-success pull-right suli'>
			Sign Up
		</button>
		<button class='btn btn-success pull-right suli'>
			Log In
		</button> -->
	</div>
	<div align="center">
		<table class="content-table" id="table1" >
			<thead>
			  <tr>
				<th>Resource</th>
				<th>Amount</th>
				<th>City</th>
				<th>Location</th>
				<th class="empty">Delete</th>
			  </tr>
			</thead>
			<tbody cellspacing="0" cellpadding="0">
				<form action="/secret" method="POST" >

						<% var temp = {amount : "" , city : "abad" , location : ""}; %>
						<% result.forEach(function(data){ %>
						<%	if(data.type === "Oxygen"){  %>
						<%		temp = data;  %>
						<%		return;   %>
						<%		}    %>
						<% }); %>
					  <tr class="active-row" id="templateRow">
								<td class="whiteback">
									<select name="type1" id="res1" style="width:75%">
										<option value="Oxygen">Oxygen</option>
										<!-- <option value="Remdesivir">Remdesivir</option>
										<option value="ICU">ICU</option>
										<option value="Bed">Bed</option> -->
									  </select>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="number" id="amount1" name="amount1" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value = <%=temp.amount%> ><br><br>
								</td>
								<td class="whiteback">
									  <select style="width: 75%;" id="cd1" name="city1"></select>
										<script>
											$.getJSON("cities.json",
												function (data) {
													select=document.getElementById('cd1');
													$.each(data, function (key, value) {
														var opt = document.createElement('option');
														opt.value = value.city;
														if(value.city == "<%=temp.city%>"){
															opt.selected = "selected";
														}
														opt.innerHTML = value.city;
														select.appendChild(opt);
														});

														//INSERTING ROWS INTO TABLE
														// $('#table').append(student);

													});
										</script>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="text" id="loc1" name="location1" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value ="<%=temp.location %>"><br><br>
								</td>
								<!-- <td><i type="button" class="fa fa-trash-o" style="font-size:36px;color:#0c2431;align-self:left;" onclick="deleteRow(this)" ></i></td> -->

								<% temp = {amount : "" , city : "abad" , location : ""}; %>
								<% result.forEach(function(data){ %>
								<%	if(data.type === "Remdesivir"){  %>
								<%		temp = data;  %>
								<%		return;   %>
								<%		}    %>
								<% }); %>
					  </tr>
						<tr class="active-row" >
								<td class="whiteback">
									<select name="type2"  style="width:75%">
										<!-- <option value="Oxygen">Oxygen</option> -->
										<option value="Remdesivir">Remdesivir</option>
										<!-- <option value="ICU">ICU</option>
										<option value="Bed">Bed</option> -->
									  </select>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="number" name="amount2" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value = <%=temp.amount%>><br><br>
								</td>
								<td class="whiteback">
									  <select style="width: 75%;" id = "cd2" name="city2"></select>
										<script>
											$.getJSON("cities.json",
												function (data) {
													select=document.getElementById('cd2');
													$.each(data, function (key, value) {
														var opt = document.createElement('option');
														opt.value = value.city;
														if(value.city == "<%=temp.city%>"){
															opt.selected = "selected";
														}
														opt.innerHTML = value.city;
														select.appendChild(opt);
														});

														//INSERTING ROWS INTO TABLE
														// $('#table').append(student);

													});
										</script>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="text" name="location2" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value ="<%=temp.location %>"><br><br>
								</td>
								<!-- <td><i type="button" class="fa fa-trash-o" style="font-size:36px;color:#0c2431;align-self:left;" onclick="deleteRow(this)" ></i></td> -->

					  </tr>
						<% temp = {amount : "" , city : "abad" , location : ""}; %>
						<% result.forEach(function(data){ %>
						<%	if(data.type === "ICU"){  %>
						<%		temp = data;  %>
						<%		return;   %>
						<%		}    %>
						<% }); %>
						<tr class="active-row" >
								<td class="whiteback">
									<select name="type3" style="width:75%">
										<!-- <option value="Oxygen">Oxygen</option>
										<option value="Remdesivir">Remdesivir</option> -->
										<option value="ICU">ICU</option>
										<!-- <option value="Bed">Bed</option> -->
									  </select>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="number" name="amount3" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value = <%=temp.amount%>><br><br>
								</td>
								<td class="whiteback">
									  <select style="width: 75%;" id = "cd3" name="city3"></select>
										<script>
											$.getJSON("cities.json",
												function (data) {
													select=document.getElementById('cd3');
													$.each(data, function (key, value) {
														var opt = document.createElement('option');
														opt.value = value.city;
														if(value.city == "<%=temp.city%>"){
															opt.selected = "selected";
														}
														opt.innerHTML = value.city;
														select.appendChild(opt);
														});

														//INSERTING ROWS INTO TABLE
														// $('#table').append(student);

													});
										</script>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="text"  name="location3" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value ="<%=temp.location %>"><br><br>
								</td>
								<!-- <td><i type="button" class="fa fa-trash-o" style="font-size:36px;color:#0c2431;align-self:left;" onclick="deleteRow(this)" ></i></td> -->

					  </tr>
						<% temp = {amount : "" , city : "abad" , location : ""}; %>
						<% result.forEach(function(data){ %>
						<%	if(data.type === "BED"){  %>
						<%		temp = data;  %>
						<%		return;   %>
						<%		}    %>
						<% }); %>
						<tr class="active-row" >
								<td class="whiteback">
									<select name="type4"  style="width:75%">
										<!-- <option value="Oxygen">Oxygen</option>
										<option value="Remdesivir">Remdesivir</option>
										<option value="ICU">ICU</option> -->
										<option value="Bed">Bed</option>
									  </select>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="number"  name="amount4" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value = <%=temp.amount%>><br><br>
								</td>
								<td class="whiteback">
									  <select style="width: 75%;" id="cd4" name="city4"></select>
										<script>
											$.getJSON("cities.json",
												function (data) {
													select=document.getElementById('cd4');
													$.each(data, function (key, value) {
														var opt = document.createElement('option');
														opt.value = value.city;
														if(value.city == "<%=temp.city%>"){
															opt.selected = "selected";
														}
														opt.innerHTML = value.city;
														select.appendChild(opt);
														});

														//INSERTING ROWS INTO TABLE
														// $('#table').append(student);

													});
										</script>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="text"  name="location4" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value ="<%=temp.location %>"><br><br>
								</td>
								<!-- <td><i type="button" class="fa fa-trash-o" style="font-size:36px;color:#0c2431;align-self:left;" onclick="deleteRow(this)" ></i></td> -->
					  </tr>


						<% temp = {amount : "" , city : "abad" , location : ""}; %>
						<% result.forEach(function(data){ %>
						<%	if(data.type === "emp_oxy_cyl"){  %>
						<%		temp = data;  %>
						<%		return;   %>
						<%		}    %>
						<% }); %>
						<tr class="active-row" >
								<td class="whiteback">
									<select name="type5"  style="width:75%">
										<option value="emp_oxy_cyl">Empty Oxygen cylinders</option>
									 </select>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="number"  name="amount5" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value = <%=temp.amount%>><br><br>
								</td>
								<td class="whiteback">
									  <select style="width: 75%;" id="cd5" name="city5"></select>
										<script>
											$.getJSON("cities.json",
												function (data) {
													select=document.getElementById('cd5');
													$.each(data, function (key, value) {
														var opt = document.createElement('option');
														opt.value = value.city;
														if(value.city == "<%=temp.city%>"){
															opt.selected = "selected";
														}
														opt.innerHTML = value.city;
														select.appendChild(opt);
														});
													});
										</script>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="text"  name="location5" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"  value ="<%=temp.location %>"><br><br>
								</td>
					  </tr>
						<% temp = {amount : "" , city : "abad" , location : ""}; %>
						<% result.forEach(function(data){ %>
						<%	if(data.type === "oxy_ref"){  %>
						<%		temp = data;  %>
						<%		return;   %>
						<%		}    %>
						<% }); %>
						<tr class="active-row" >
								<td class="whiteback">
									<select name="type6"  style="width:75%">
										<option value="oxy_ref">Oxygen Refilling</option>
									  </select>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="number"  name="amount6" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value = <%=temp.amount%>><br><br>
								</td>
								<td class="whiteback">
									  <select style="width: 75%;" id="cd6" name="city6"></select>
										<script>
											$.getJSON("cities.json",
												function (data) {
													select=document.getElementById('cd6');
													$.each(data, function (key, value) {
														var opt = document.createElement('option');
														opt.value = value.city;
														if(value.city == "<%=temp.city%>"){
															opt.selected = "selected";
														}
														opt.innerHTML = value.city;
														select.appendChild(opt);
														});
													});
										</script>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="text"  name="location6" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"  value ="<%=temp.location %>"><br><br>
								</td>
					  </tr>
						<% temp = {amount : "" , city : "abad" , location : ""}; %>
						<% result.forEach(function(data){ %>
						<%	if(data.type === "amb_service"){  %>
						<%		temp = data;  %>
						<%		return;   %>
						<%		}    %>
						<% }); %>
						<tr class="active-row" >
								<td class="whiteback">
									<select name="type7"  style="width:75%">
										<option value="amb_service">Ambulance Service</option>
									  </select>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="number"  name="amount7" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value = <%=temp.amount%>><br><br>
								</td>
								<td class="whiteback">
									  <select style="width: 75%;" id="cd7" name="city7"></select>
										<script>
											$.getJSON("cities.json",
												function (data) {
													select=document.getElementById('cd7');
													$.each(data, function (key, value) {
														var opt = document.createElement('option');
														opt.value = value.city;
														if(value.city == "<%=temp.city%>"){
															opt.selected = "selected";
														}
														opt.innerHTML = value.city;
														select.appendChild(opt);
														});
													});
										</script>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="text"  name="location7" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"  value ="<%=temp.location %>"><br><br>
								</td>
					  </tr>
						<% temp = {amount : "" , city : "abad" , location : ""}; %>
						<% result.forEach(function(data){ %>
						<%	if(data.type === "ecu"){  %>
						<%		temp = data;  %>
						<%		return;   %>
						<%		}    %>
						<% }); %>
						<tr class="active-row" >
								<td class="whiteback">
									<select name="type8"  style="width:75%">
										<option value="ecu">ECU</option>
									  </select>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="number"  name="amount8" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value = <%=temp.amount%>><br><br>
								</td>
								<td class="whiteback">
									  <select style="width: 75%;" id="cd8" name="city8"></select>
										<script>
											$.getJSON("cities.json",
												function (data) {
													select=document.getElementById('cd8');
													$.each(data, function (key, value) {
														var opt = document.createElement('option');
														opt.value = value.city;
														if(value.city == "<%=temp.city%>"){
															opt.selected = "selected";
														}
														opt.innerHTML = value.city;
														select.appendChild(opt);
														});
													});
										</script>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="text"  name="location8" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"  value ="<%=temp.location %>"><br><br>
								</td>
					  </tr>
						<% temp = {amount : "" , city : "abad" , location : ""}; %>
						<% result.forEach(function(data){ %>
						<%	if(data.type === "vent"){  %>
						<%		temp = data;  %>
						<%		return;   %>
						<%		}    %>
						<% }); %>
						<tr class="active-row" >
								<td class="whiteback">
									<select name="type9"  style="width:75%">
										<option value="vent">Ventilators</option>
									  </select>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="number"  name="amount9" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;" value = <%=temp.amount%>><br><br>
								</td>
								<td class="whiteback">
									  <select style="width: 75%;" id="cd9" name="city9"></select>
										<script>
											$.getJSON("cities.json",
												function (data) {
													select=document.getElementById('cd9');
													$.each(data, function (key, value) {
														var opt = document.createElement('option');
														opt.value = value.city;
														if(value.city == "<%=temp.city%>"){
															opt.selected = "selected";
														}
														opt.innerHTML = value.city;
														select.appendChild(opt);
														});
													});
										</script>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="text"  name="location9" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"  value ="<%=temp.location %>"><br><br>
								</td>
					  </tr>
						<% temp = {amount : "" , city : "abad" , location : ""}; %>
						<% result.forEach(function(data){ %>
						<%	if(data.type === "plasma"){  %>
						<%		temp = data;  %>
						<%		return;   %>
						<%		}    %>
						<% }); %>
						<tr class="active-row" >
								<td class="whiteback">
									<select name="type10"  style="width:75%">
										<option value="plasma">Plasma</option>
									  </select>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="number"  name="amount10" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"  value = <%=temp.amount%> ><br><br>
								</td>
								<td class="whiteback">
									  <select style="width: 75%;" id="cd10" name="city10"></select>
										<script>
											$.getJSON("cities.json",
												function (data) {
													select=document.getElementById('cd10');
													$.each(data, function (key, value) {
														var opt = document.createElement('option');
														opt.value = value.city;
														if(value.city == "<%=temp.city%>"){
															opt.selected = "selected";
														}
														opt.innerHTML = value.city;
														select.appendChild(opt);
														});
													});
										</script>
								</td>
								<td class="whiteback" style="align-items: center" >
									<input type="text"  name="location10" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"  value ="<%=temp.location %>"><br><br>
								</td>
					  </tr>

						<tr class="active-row" >
								<td class="whiteback">

								</td>
								<td class="whiteback"  >

								</td>
								<td class="whiteback">

								</td>
								<td class="whiteback" >
									<button class="btn btn-primary" style = " width:100px;">submit</button>
								</td>
								<!-- <td><i type="button" class="fa fa-trash-o" style="font-size:36px;color:#0c2431;align-self:left;" onclick="deleteRow(this)" ></i></td> -->
					  </tr>

				</form>
			</tbody>
			<tfoot>

			 </tfoot>
		  </table>
	</div>
</body>
</html>
